#modalDisable {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: transparent;
  overflow: hidden;
  cursor: wait;
  display: none;
}

.w3-card-12 {
  padding: 3%;
  margin: 5%;
}

.w3-btn-block {
  margin: 5px;
  font-size: 3em;
}
